<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>blog- Dashboard</title>
</head>
<body>
    <button class="btn" id="logoutbtn">Logout</button>
    
    <!-- <div id="addNoteDiv">

    </div> -->
    <div id="note-card-list">
        <input id="n-title" type="text" placeholder="Title" />
        <input id="n-genre" type="text" placeholder="genre" />
        <input id="n-author" type="text" placeholder="author" />
        
        <button id="add-note" class = "btn1">Add Note</button>
        <button id="submitBtn">update</button>

    </div>
    
    <script src="./dashboard.js">
        
    </script>
</body>
</html>
