<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog- register and sign in</title>
   
  </head>
   
  <body>
    <!-- <form id="RegForm"> -->
    <input id="r_name" type="text" placeholder="Username" />
    <input id="r_email" type="email" placeholder="Email" />
    <input id="r_pass" type="pass" placeholder="Password" />
    <select name="roles" id="role-select">
      <option value="">--Please choose role--</option>
      <option value="reader">reader</option>
      <option value="librarian">writer</option>
      <option value="admin">admin</option>
    </select>
    <button type="submit" class="btn" id="registerbtn">Register</button>

    <form id="LoginForm">
      <input id="l_email" type="text" placeholder="Enter your e-mail" required/>
      <input
        id="l_password"
        type="password"
        placeholder="Enter your Password"
       required/>
      <button class="btn" id="loginbtn">Login</button>
   
    </form>

    <!-- Toggle Form -->
    <script src="./register.js"></script>
  </body>
</html>

</body>
</html>